/* Buttons */
.btn {
  display: inline-block;
  padding: 5px 15px;
  border-radius: 0;
  border: 1px solid black;
  background-color: transparent;
  font-size: 16px;
  cursor: pointer;
}

.btn--medium {
  padding: 10px 20px;
}

.btn--large {
  padding: 10px 45px;
}

.btn--fw-bold {
  font-weight: bold;
}

.btn--bg-blue {
  background-color: #0061ff;
  color: white;
  border: 1px solid #0061ff;
}
