/* Buttons */
.btn {
  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 0;
  background-color: transparent;
  color: black;
  cursor: pointer;
  transition: box-shadow 0.4s, transform 1s;
}

.btn:hover {
  box-shadow: rgb(82, 82, 82, 0.6) 0px 0px 6px 1px inset,
    rgb(38, 57, 77) 0px 5px 20px -10px;
  transform: translateY(-0.15em);
}

.btn--large {
  padding-left: 70px;
  padding-right: 70px;
}

.btn--blue {
  border-color: #0067f9;
  background-color: #0067f9;
  color: white;
}

.btn--white {
  border-color: white;
  background-color: white;
}
