/* Buttons */
.btn {
  display: inline-block;
  padding: 5px 15px;
  border-radius: 0;
  border: 1px solid black;
  background-color: transparent;
  font-size: 16px;
}

.btn--bg-blue {
  background-color: #0061ff;
  color: white;
  border: 1px solid #0061ff;
}
