/* Commons */
.container {
  max-width: 1350px;
  margin: auto;
}

.container--large {
  max-width: 1600px;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.row {
  width: 100%;
}
