/* Footer */
footer {
  background-color: black;
  color: white;
  padding: 100px 0 40px;
}

footer hr {
  width: 10%;
  margin-bottom: 40px;
}

.footer__col {
  float: left;
  width: calc(100% / 5 - 60px);
  margin-right: 60px;
}

.footer__col:last-child {
  margin-right: 0;
}

.footer__col-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer__col-menu {
  margin-bottom: 80px;
}

.footer__col-menu-item {
  margin-bottom: 0.5em;
}

.footer__col-menu-item-link {
  color: inherit;
  text-decoration: none;
}

.footer__language {
  color: #999999;
}

.footer__language::after {
  content: '\23F6';
}
