/* Header */
header {
  background-color: white;
  padding: 20px;
}

.header-col,
.header-logo {
  display: inline-block;
}

.header-col {
  width: calc(50% - 4px);
}

.header-col-left {
  text-align: left;
}

.header-col-right {
  text-align: right;
}
