/* Navigation */
header {
  padding: 20px;
}

.main-nav {
  width: calc(50% - 4px);
  background-color: white;
}

.main-nav-left {
  text-align: left;
}

.main-nav-right {
  text-align: right;
}

.main-nav,
.main-nav__logo,
.main-nav__menu,
.main-nav__menu-item {
  display: inline-block;
}

.main-nav__logo-img,
.main-nav__menu-item {
  vertical-align: middle;
}

.main-nav__logo,
.main-nav__menu-item {
  margin-right: 2.5em;
}

.main-nav__menu-item-link {
  text-decoration: none;
  color: inherit;
  position: relative;
  padding-bottom: 2px;
}

.main-nav__menu-item-link::before {
  content: '';
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 3px;
  border-radius: 4px;
  background-color: #0067f9;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.main-nav__menu-item-link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
