/* FAQ */
.faq {
  margin: 150px 0;
}

.faq__title {
  font-size: 48px;
  margin-bottom: 40px;
}

.faq__question {
  border-top: 1px solid lightgray;
  padding: 30px 0;
  font-weight: bold;
  position: relative;
}

.faq__question:last-child {
  border-bottom: 1px solid lightgray;
}

.faq__question i {
  position: absolute;
  top: 50%;
  left: calc(100% - 50px);
  margin-right: 50px;
  transform: translateY(-50%);
}
